<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="biz.smk.popularmovies">

    <!-- Necessary to be able to query the TMDb API and download movie posters. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- This is needed by Picasso: "Used to adjust the work load depending on the type of network
         the device is using." Source:
         https://github.com/square/picasso/blob/picasso-parent-2.5.2/picasso-sample/src/main/AndroidManifest.xml#L15-L16 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/activity_about_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".MovieDetailsActivity"
            android:label="@string/activity_movie_details_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:authorities="biz.smk.popularmovies.favoritemovies"
            android:name=".favoritemovies.FavoriteMoviesContentProvider"
            android:exported="false" />

    </application>

</manifest>